/* Administration Styles */

.eeRSCF_Admin {
	width: 100%;
	max-width: 1200px;
}

.eeRSCF_Admin h2,
.eeRSCF_Admin h3 {
	clear: left;
	/* width: 75%; */
}

.eeRSCF_Admin h4 {
	width: 58%;
	text-align: right;
}

.eeActiveTab {
	background: #54595f;
	color: #FFF;
}

.eeRSCF_Admin .eeAlignRight {
	float: right;
	margin: 0 1em 1em 0;
}

.eeRSCF_Admin .eeAlignLeftTwoThirds {
	float: left;
	width: 66%;
}

.eeRSCF_Admin fieldset {
	display: block;
	position: relative;
	clear: both;
	border: 2px solid #DDD;
	padding: 1em;
	margin: 1em;
	background-color: #f4f4f4;
}


/* FORM NAVIGATION */

#eeRSCF_FormsNav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px;
  padding-top: 10px;
}

#eeRSCF_FormsNav form {
  display: flex;
  align-items: center;
  width: 100%; /* make the form 100% wide */
}

#eeRSCF_FormsNav select {
  flex: 1; /* make the select element fill the remaining space */
}

#eeRSCF_FormsNav input[type="submit"],
#eeRSCF_FormsNav button {
  margin-left: 10px;
}









/* #eeRSCF_delivery input[type=text],
#eeRSCF_formName {
	width: 65%;
	font-size: 110%;
} */

/* ADMIN SETTINGS FORMS */

#eeRSCF_formSettings p.button {
	margin: 5px;
}

#eeRSCF_formSettings fieldset {
	margin: 10px;
	padding: 10px;
}

#eeRSCF_Settings table.eeRSCF_formFields th,
#eeRSCF_Settings table.eeRSCF_formFields td {
	padding: 10px;
}
#eeRSCF_Settings table.eeRSCF_formFields th {
	text-align: left;
	background-color: #54595F;
	color: #FFF;
}
#eeRSCF_Settings table.eeRSCF_formFields td input[type=text] {
	font-size: 110%;
	width: auto;
}

#eeRSCF_Settings table {
	width: 100%;
}

#eeRSCF_Settings fieldset p {
	margin-bottom: 25px;
	clear: left;
}

#eeRSCF_Settings label, .eeRSCF_Admin span {
	float: left;
	clear: both;
	width: 25%;
	text-align: right;
	margin-right: .5em;
	padding: 5px;
	margin-bottom: 1em;
	background: #DDD;
}
#eeRSCF_Settings .eeRadioLabel {
	clear: none;
	width: auto;
	background: transparent;
}

#eeRSCF_Settings select, 
#eeRSCF_Settings input[type=text],  
#eeRSCF_Settings input[type=url],
#eeRSCF_Settings input[type=number], 
#eeRSCF_Settings input[type=password], 
#eeRSCF_Settings input[type=tel], 
#eeRSCF_Settings input[type=email],
#eeRSCF_Settings textarea, 
#eeRSCF_Settings span.eeValueDisplay {
	float: left;
	width: 50%;
	padding: 4px;
}

#eeRSCF_Settings  #eeRSCF_delivery input[type=text] {
	width: 60%;
}

#eeRSCF_Settings  textarea {
	height: 200px;
	font-size: 130%;
	margin-bottom: 10px;
	padding: 5px;
}
#eeRSCF_Settings  input[type=radio] {
	float: left;
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	margin-top: .325em;
	margin-right: 2em;
}
#eeRSCF_Settings input[type=checkbox] {
	float: left;
	width: 1.4em;
	height: 1.4em;
	display: inline-block;
	margin-top: .325em;
	margin-right: .5em;
}

#eeRSCF_spamSettings h3,
#eeRSCF_spamSettings textarea {
	display: block;
	clear: both;
	width: 100%;
}


#eeRSCF_Settings input[type=submit], 
#eeRSCF_Settings button {
	float: right;
	font-size: 130%;
	margin: 0 20px 10px 20px;
}



.eeRSCF_Admin p {
	margin: 0;
	margin-top: .325em;
/* 	margin-bottom: 2em; */
}

#eeRSCF_deleteForm {
	float: left;
	margin-left: 20px;
	color: #c60000;
	font-size: 80%;
}







.eeRSCF_Admin p.eeNote {
	margin: 5px 0 40px 10px;
}



#eeAdminFooter {
	clear: both;
	padding-top: 100px;
}




/* SUPPORT TABS */

.eeSupp {
	display: block;
	clear: both;
	border: 2px solid #DDD;
	padding: 1em;
	margin: 1em;
	width: 60%;
}

.eeSupp .eeSupp {
	width: auto;
}

.eeSupp h2 {
	font-size: 150%;
}

.eeSupp h3 {
	font-size: 120%;
	font-style: italic;
}

.eeSupp p {
	font-size: 100%;
	margin-bottom: 2em;
}

.eeSupp input[type=text],
.eeSupp input[type=email],
.eeSupp input[type=url],
.eeSupp textarea {
	float: left;
	width: 70%;
	font-size: 120%;
}

.eeSupp textarea {
	height: 300px;
	width: 70%;
}

.eeSupp label {
	float: left;
	clear: left;
	width: 25%;
	text-align: right;
	margin-right: 1%;
	padding: 5px;
	margin-bottom: 1em;
	background: #DDD;
	font-size: 110%;
}

.eeSupp #eeSupportFormSubmit {
	font-size: 200%;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

.eeSupp strong {
	font-size: 120%;
}


#eeSupportBanner {
	width: 300px;
	height: auto;
	float: right;
	padding: 5px;
	margin: 5px;
	border: 1px solid #DDD;
	
}

/* OTHER THINGS */

.eeClearFix {
	clear: both;
}

.eeClearing:before,
.eeClearing:after {
  content: "";
  display: table;
}

.eeClearing:after {
  clear: both;
}


.eeFullWidth {
	width: 100% !important;
}

/*
.eeBacklink {
	display: block;
	text-align: center;
	font-size: 70%;
}
*/

.eeNoClear {
	clear: none !important;
	width: auto !important;
}

.eeRight {
	float: right !important;
	width: auto !important;
}
.eeLeft {
	float: left !important;
	width: auto !important;
}


.eeHide {
	display:none;
}
