/* Administration Styles */

.eeRSCF_Admin {
	width: 80%;
	min-width: 600px;
/* 	float: left; */
	font-size: 120%;	
}

.eeRSCF_Admin h2,
.eeRSCF_Admin h3 {
	clear: left;
	width: 75%;
}
.eeRSCF_Admin h4 {
	width: 58%;
	text-align: right;
}

.eeActiveTab {
	background: #54595f;
	color: #FFF;
}

.eeRSCF_Admin .eeAlignRight {
	float: right;
	margin: 0 1em 1em 0;
}

.eeRSCF_Admin .eeAlignLeftTwoThirds {
	float: left;
	width: 66%;
}




table.eeRSCF_formSettings th,
table.eeRSCF_formSettings td {
	padding: 10px;
}
table.eeRSCF_formSettings th {
	text-align: left;
	background-color: #54595F;
	color: #FFF;
}
table.eeRSCF_formSettings td input[type=text] {
	width: 300px;
	font-size: 120%;
}
table.eeRSCF_formSettings td input[type=checkbox] {
	display: block;
	margin: 0 auto;
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
	transform: scale(1.5);
/* 	padding: 10px; */
}




.eeRSCF_Admin fieldset {
	display: block;
	position: relative;
	clear: both;
	border: 2px solid #DDD;
	padding: 1em;
	margin: 1em;
	background-color: #f4f4f4;
}

.eeRSCF_Admin fieldset p {
	margin-bottom: 25px;
}

.eeRSCF_Admin label, .eeRSCF_Admin span {
	float: left;
	clear: both;
	width: 25%;
	text-align: right;
	margin-right: .5em;
	padding: 5px;
	margin-bottom: 1em;
	background: #DDD;
}
.eeRSCF_Admin .eeRadioLabel {
	clear: none;
	width: auto;
	background: transparent;
}

.eeRSCF_Admin select, 
.eeRSCF_Admin input[type=text],  
.eeRSCF_Admin input[type=url],
.eeRSCF_Admin input[type=number], 
.eeRSCF_Admin input[type=password], 
.eeRSCF_Admin input[type=tel], 
.eeRSCF_Admin input[type=email],
.eeRSCF_Admin textarea, 
.eeRSCF_Admin span.eeValueDisplay {
	float: left;
	width: 65%;
	padding: 4px;
}
.eeRSCF_Admin textarea {
	height: 200px;
	font-size: 130%;
	margin-bottom: 10px;
	padding: 5px;
}
.eeRSCF_Admin input[type=radio] {
	float: left;
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	margin-top: .325em;
	margin-right: 2em;
}
#eeSFL_Settings input[type=checkbox] {
	float: left;
	width: 1.4em;
	height: 1.4em;
	display: inline-block;
	margin-top: .325em;
	margin-right: .5em;
}
.eeRSCF_Admin input[type=submit], 
.eeRSCF_Admin button {
	float: right;
	font-size: 130%;
	margin: 0 20px 10px 20px;
}

.eeRSCF_Admin p {
	margin: 0;
	margin-top: .325em;
/* 	margin-bottom: 2em; */
}

.eeRemoveSet {
	display: block;
	width: 20%;
	text-align: center;
	margin: 5px auto;
}







.eeRSCF_Admin p.eeNote {
	width: 65%;
	float: right;
	clear: right;
	margin: 0 20px 40px 0;
}



#eeAdminFooter {
	clear: both;
	padding-top: 100px;
}




/* SUPPORT TABS */

.eeSupp {
	display: block;
	clear: both;
	border: 2px solid #DDD;
	padding: 1em;
	margin: 1em;
	width: 60%;
}

.eeSupp .eeSupp {
	width: auto;
}

.eeSupp h2 {
	font-size: 150%;
}

.eeSupp h3 {
	font-size: 120%;
	font-style: italic;
}

.eeSupp p {
	font-size: 100%;
	margin-bottom: 2em;
}

.eeSupp input[type=text],
.eeSupp input[type=email],
.eeSupp input[type=url],
.eeSupp textarea {
	float: left;
	width: 70%;
	font-size: 120%;
}

.eeSupp textarea {
	height: 300px;
	width: 70%;
}

.eeSupp label {
	float: left;
	clear: left;
	width: 25%;
	text-align: right;
	margin-right: 1%;
	padding: 5px;
	margin-bottom: 1em;
	background: #DDD;
	font-size: 110%;
}

.eeSupp #eeSupportFormSubmit {
	font-size: 200%;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

.eeSupp strong {
	font-size: 120%;
}


#eeSupportBanner {
	width: 300px;
	height: auto;
	float: right;
	padding: 5px;
	margin: 5px;
	border: 1px solid #DDD;
	
}

/* OTHER THINGS */

.eeClearFix {
	clear: both;
}

.eeBacklink {
	display: block;
	text-align: center;
	font-size: 70%;
}

.eeNoClear {
	clear: none !important;
	width: auto !important;
}

.eeRight {
	float: right;
}

.eeHide {
	display:none;
}
